<footer class="footer">
    <div class="footer__container">
    <section>
        <h2 class="footer__title">Sobre footer</h2>
        <p class="footer__about-text">lore ipisin</p>
    </section>
    <address>
        <h2 class="footer__title">Contato</h2>
        <ul>
            <li><i class="fa-solid fa-envelope"></i>t.y_josef7@hotmail.com</li>
            <li><i class="fa-solid fa-phone"></i>21 98954-2473</li>
            <li><i class="fa-brands fa-whatsapp"></i>21 98954-2473</li>
        </ul>
    </address>
</div>
<section class="footer__copyright">
    &copy; Todos os direitos reservados
</section>
</footer>
